@import "tailwindcss";

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

body {
    overflow-x: hidden;
}

canvas {
    touch-action: pan-y !important;
    pointer-events: none;
}